AFD.Rdata
AfDbyAnzahl-10.Rdata
B90G.Rdata
DIE LINKEbyAnzahl-10.Rdata
FDP.Rdata
FDPbyAnzahl-10.Rdata
GRÜNEbyAnzahl-10.Rdata
JenaAfDbyAnzahl-10.Rdata
JenaFDPbyAnzahl-10.Rdata
JenaGRÜNEbyAnzahl-10.Rdata
JenaLINKEbyAnzahl-10.Rdata
JenaParteihochburgSPDbyAnzahl-10.Rdata
JenaSPDbyAnzahl-10.Rdata
JenaUNIONbyAnzahl-10.Rdata
JenaWahlkreisgewinnerSPDbyAnzahl-10.Rdata
LINKE.Rdata
SPD.Rdata
SPDbyAnzahl-10.Rdata
UNION.Rdata
UNIONbyAnzahl-10.Rdata
alte Dateien
